<% action_panel do |p| -%>
  <%= p.link "Chargify Subscriptions", :action => 'subscriptions', :icon => 'edit.gif' %>
<% end -%>
<hr/>

<script>
<%=  active_table_javascript %>
</script>

<div class='admin_content'>
<div id='chargify_plans_table'>
<%= render :partial => 'chargify_plans_table' %>
</div>
</div>
